.content{
    width: calc(100% - 200px);
    height: calc(100% - 160px);
    background-color: #151922;
    float: left;
}





@media screen and (max-width: 768px){
.content{
    width: calc(100% - 60px);
}
}
// @media screen and (min-width: 769px) and (max-width: 991px){

// }